.element__like {
    background-image: url(../images/button__like.svg);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    align-self: center;
    width: 22px;
    height: 19px;   
    border: 0;
    padding: 0;
}
.element__like:hover {
    opacity: 0.6;
    cursor: pointer;
}
.element__like:active {
    background-image: url(../images/button__like-active.svg);
    cursor: pointer;
}
.element__like:focus {
    outline: none;
}