.popup__input {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 30px 0 0 0;
    padding: 13px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
}

.popup__input:focus {
    outline-color: rgb(103, 148, 233);
    outline-width: 3px;
}
  
.popup__input:last-of-type {
    margin-bottom: 0;
}

.popup__input + .popup__error_visible {
    margin-top: 5px;
}
 
@media screen and (max-width: 879px) {
    .popup__input {
        margin-top: 17px;
    }
}

  
