.profile__subtitle {
    color:#ffffff;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
    max-height: 18px;
}    
@media (max-width: 879px) {
.profile__subtitle {
    font-size: 14px;
    line-height: 17px;
}}