.elements__like_active {
    background-image: url(../../../../images/button__like-active.svg);
    background-repeat: no-repeat;
    background-color: #11ffee00;
    align-self: center;
    width: 22px;
    height: 19px;
    border: 0;
    padding: 0;
}

.elements__like_active:hover {
    opacity: 0.5;
    cursor: pointer;
}

.elements__like_active:focus {
    outline: none;
}