.profile__button_edit {
    background-image: url(../../../../images/button__edit.svg);
    width: 24px;
    height: 24px;
    color:#FFFFFF;
    border: 0;
    margin-left: 18px;
    align-self: flex-end;
}
@media (max-width: 879px) {
.profile__button_edit {
    width: 18px;
    height: 18px;
    background-size: contain;
    margin-left: 10px;
    align-self: center;
}}